 body {
    background-image: url('/16282276_rm222batch2-mind-03.svg');
    background-repeat: no-repeat;
    background-size: cover;         /* makes the image cover entire screen */
    background-position: center;    /* centers the image */
    background-attachment: fixed;   /* optional: keeps image fixed on scroll */
    
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #2c3e50 !important;
  padding: 0;
  top: 0 !important;
  position: sticky !important;
  z-index: 1000 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100% !important;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-right: 15px;
  color: #1262b2 !important;
  transition: color 0.3s ease-in-out, transform 0.2s;
}

.navbar-nav {
  padding: 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #2767a7 !important;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #f39c12 !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #f39c12 !important;
  transform: scale(1.05);
}

.navbar-nav .nav-link.disabled {
  color: #95a5a6 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }
}

.card-img-top {
  height: 20rem !important;
}

.card {
  margin-bottom: 2rem;
  border: none;
  border-radius: 1.2rem;
  width: 100%;
  object-fit: cover;
}

.listing-link {
  text-decoration: none !important;
}

.show-image {
  height: 30vh;
}

.show-btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.edit-btn {
  background-color: rgb(243, 238, 238);
  color: rgb(42, 4, 118);
}

.edit-btn:hover {
  background-color: aqua;
  color: black;
}

.delete-btn {
  background-color: rgb(15, 13, 13);
  color: rgb(211, 224, 224);
}

.review-div {
  border: none !important;
}
